<ngx-auth-firebaseui
  [signOutText]="'auth.signOutText' | translate"
  [signInTabText]="'auth.signInTabText' | translate"
  [signInCardTitleText]="'auth.signInCardTitleText' | translate"
  [loginButtonText]="'auth.loginButtonText' | translate"
  [forgotPasswordButtonText]="'auth.forgotPasswordButtonText' | translate"
  [nameText]="'auth.nameText' | translate"
  [nameErrorRequiredText]="'auth.nameErrorRequiredText' | translate"
  [nameErrorMinLengthText]="'auth.nameErrorMinLengthText' | translate"
  [nameErrorMaxLengthText]="'auth.nameErrorMaxLengthText' | translate"
  [emailText]="'auth.emailText' | translate"
  [emailErrorRequiredText]="'auth.emailErrorRequiredText' | translate"
  [emailErrorPatternText]="'auth.emailErrorPatternText' | translate"
  [passwordText]="'auth.passwordText' | translate"
  [passwordErrorRequiredText]="'auth.passwordErrorRequiredText' | translate"
  [registerTabText]="'auth.registerTabText' | translate"
  [registerCardTitleText]="'auth.registerCardTitleText' | translate"
  [registerButtonText]="'auth.registerButtonText' | translate"
  [guestButtonText]="'auth.guestButtonText' | translate"
  [resetPasswordTabText]="'auth.resetPasswordTabText' | translate"
  [resetPasswordInputText]="'auth.resetPasswordInputText' | translate"
  [resetPasswordErrorRequiredText]="
    'auth.resetPasswordErrorRequiredText' | translate
  "
  [resetPasswordErrorPatternText]="
    'auth.resetPasswordErrorPatternText' | translate
  "
  [resetPasswordActionButtonText]="
    'auth.resetPasswordActionButtonText' | translate
  "
  [resetPasswordInstructionsText]="
    'auth.resetPasswordInstructionsText' | translate
  "
  [emailConfirmationTitle]="'auth.emailConfirmationTitle' | translate"
  [emailConfirmationText]="'auth.emailConfirmationText' | translate"
  (onSuccess)="loadProfile()"
>
</ngx-auth-firebaseui>
