<ngx-auth-firebaseui-login
  [providers]="providers"
  [titleText]="'auth.signInCardTitleText' | translate"
  [loginButtonText]="'auth.loginButtonText' | translate"
  [emailText]="'auth.emailText' | translate"
  [emailErrorRequiredText]="'auth.emailErrorRequiredText' | translate"
  [emailErrorPatternText]="'auth.emailErrorPatternText' | translate"
  [passwordText]="'auth.passwordText' | translate"
  [passwordErrorRequiredText]="'auth.passwordErrorRequiredText' | translate"
  [forgotPasswordText]="'auth.forgotPasswordButtonText' | translate"
  [orLabelText]="'auth.orLabelText' | translate"
  [registrationEnabled]="false"
  [dontHaveAnAccountText]="'auth.dontHaveAnAccountText' | translate"
  (onSuccess)="loadProfile()"
>
</ngx-auth-firebaseui-login>
